% rebase('base.html', izbrani_zavihek='pomoc')

<div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Moje potovanje</p>
        <p>Moje potovanje je program, ki vam omoguča planiranje potovanja, vodenje evidence, kje ste že bili, narejanje seznama želja, kam želite potovati, in seznama najljubših lokacij, katere ste obiskali.</p>
        <p>Za planiranje naslednjega potovanja, izberite <i>Planiranje potovanja</i>. Za vodenje evidence izberite <i>Evidenca potovanjih</i>. Za narejanje seznama želja in seznama najljubših lokacij izberite <i>Seznam želja</i>.</p>
        <p><strong>Pozor! Imena mesta in države naj se začneta z velikimi črkami.</strong></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Planiranje potovanja</p>
        <p>V polje <i>Mesto</i> vpišite mesto, v polje <i>Država</i> pa državo, kam želite potovati. Datum odhoda vpišite v prvo polje za datum, datum vrnitve pa v drugo polje za datum. V poslednje polje vpišite koliko denarja planirate uporabiti na potovanju.</p>
        <p>Če želite obrisati plan iz iz tabele, to lahko naredite tako, da vpišete planirani datum odhoda.</p>
        <p>Če ste se vrnili s planiranega potovanja, lahko tisti plan premaknete v evidenco tako, da v polje <i>Premakni v evidenco</i> vpišete datum odhoda na potovanje.</p>
        <p>Vaše plane lahko vidite v tabeli desno.</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Evidenca potovanja</p>
        <p>V polje <i>Mesto</i> vpišite mesto, v polje <i>Država</i> pa državo, v katero ste potovali. Datum odhoda vpišite v prvo polje za datum, datum vrnitve pa v drugo polje za datum. V poslednje polje vpišite koliko ste denarja porabili na potovanju.</p>
        <p>Če želite obrisati potovanje iz evidence, to lahko naredite tako, da vpišete datum odhoda.</p>
        <p>Vaša potovanja lahko vidite v tabeli desno.</p>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Seznam želja</p>
          <p>Na tej strani sta dve tabeli, v levi je seznam destinacij, katere želite obiskati, v desni pa seznam vaših najljubših lokacij.</p>
          <p>Novo željo lahko naredite tako, da v polje <i>Mesto</i> vpišete mesto, v polje <i>Država</i> pa državo, katero želite obiskati. Nova želja se bo prikazala v levi tabeli. Lokacijo lahko izbrišete iz seznama želja tako, da je izberete v spustnem seznamu.</p>
          <p>Novo najljubšo lokacijo naredite podobno. V polje <i>Mesto</i>, vpišite mesto, v polje <i>Država</i> pa državo lokacije. Če vam nekatera lokacija ni več všeč, lahko je odstranite iz seznama tako, da je izberete v spustnem seznamu</p>
        </article>
  </div>
</div>
